*{
  margin: 0;
}
.App {
 
}

.logo{
  width: 2cm;
  height: 2cm;
}
.header{
  color:whitesmoke;
  background-color: #282c34;
  padding: 15px;
}
.main-container{
  text-align: center;
  background-color: whitesmoke;
}
.header-item{
  display: inline;
  padding: 5px;
}
.pager{
  color: whitesmoke;
  background-color: rgb(22, 22, 22);
  padding: 5px;
}
.component{
  margin: 5px 10px;
  padding: 5px 20px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
